
body{
	background-color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}

header{
	background-color: #3d3f36;
	display: flex;
	padding: 0px 5px;
}

a{
	text-decoration: none;
	font-weight: bold;
	color: white;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    border: none;
}
.footer{
	position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #000000;
	vertical-align: bottom;
text-align: center;
padding-bottom: 15px;


}
.footer a{
text-decoration: none;
color: white;
font-weight: bold;
font-size: 20px;

}


.footer li{
	color: #ffffff;
	display: inline-block;
margin-bottom: 15px;	
	text-align: center;
	padding-right:  10px;
	padding-left: 10px;
	border-right: 1px solid #ffffff;
}